@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import url('https://fonts.googleapis.com/css?family=Sarina');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

html {
    /*background-color: #2d2d31;*/
}

.clear {
    clear: both;
}

body {
    margin: 0px;
    padding: 0px;
    background: url(../img/aziz-acharki-min.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.container {
    width: 100%;
}

.wrapper {
    background-color: #252525;
    width: 1400px;
    margin: 0 auto;
    height: 150px;
    /*box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);*/
}

.wrapper1 {
    background-color: rgba(37, 37, 37, 0.48);
    width: 100%;
    margin: 0 auto;
    height: 150px;
}

.zero {
    height: calc(100vh - 150px);
    min-height: 640px;
}

.all {
    height: 100vh;
}
    
div {
	box-sizing: border-box;
}

/*.font {
    font-family: 'Nixie One', cursive;
    font-size: 68px;
    color: white;
}*/

.font1 {
    margin-top: 22px;
    font-family: 'Sarina', cursive;
    font-size: 38px;
    color: white;
    text-align: left;
    float: left;
}

ul.menu {
    padding: 0;
    margin: 0px 100px;
    text-align: right;
}

.menu li {
	display: inline-block;
    padding: 60px 0px 0px 0px;
    width: 130px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.menu a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
    cursor: grabbing;
}

.menu a:hover {
	color: #1ebfb2;
	text-decoration: none;
    transition: 0.5s;
}

/*header {
	height: 1000px;
}
*/
.logo {
    border: none;
    float: left;
    margin-top: 20px;
    margin-left: 45px;
    background: url(../img/folder_outbox.png);
    width: 100px;
    height: 100px;
}

.space {
    width: 30%;
    float: left;
    height: 140px;
}

.space img {
    margin-left: 40px;
    margin-top: 20px;
    height: 110px;
    float: left;
    margin-right: 20px;
}

.all_sizes {
    width: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
}

nav>li.current-menu-item>item-bottom {
    background: rgba(25, 25, 25, 0.31);
    color: #ffffff;
}

/*nav {
  text-align: center;
  font-family: Arial;
}

.link-1 {
  transition: 0.3s ease;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid;
  border-bottom: 4px solid;
  padding: 20px 0;
  margin: 0 20px;
}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}*/

* { 
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

nav {
    font: 700 17px/60px 'Nixie One', cursive, sans-serif;
    width: 70%;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    float: right;
    padding-right: 55px;
}

nav ul {
    margin: 40px 0;
    height: 60px; /*Можно убрать, чтобы получилась линия, или оставить*/
    overflow: hidden;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
    width: 15%;
    float: left;
    text-align: center;
}

.item-container {
    top: 0;
    position: relative;
    height: 70px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.item-container:hover{
    top: -60px;
}

.item-top,
.item-bottom {
    height: 60px;
    position: relative;
}

.item-top {
    color: white;
}

.item-bottom {
    background: rgba(25, 25, 25, 0.31);
    color: #ffffff;
}

.item-bottom a,img {
    text-decoration: none;
    color: #ffffff;
}

.item-bottom a,img:hover {
    text-decoration: none;
    color: #ffffff;
}

.active {
    /*background: rgba(25, 25, 25, 0.31);*/
    color: #ffffff;
}

.home {
    margin-bottom: -3px;
    margin-right: 6px;
}

.audio {
    width: 100%;
    height: 10px;
    background-color: #aa6bc1;
}

#mybtn {
    margin-top: 14px;
    margin-left: 35px;
    border: none;
    border-radius: 10%;
    width: 35px;
    height: 25px;
    border: 2px solid white;
}

/*#mybtn:focus {
    text-decoration: none;
    background: url(../img/pause-button.png) center center no-repeat;
    background-color: white;
}*/

.play_btn {
    background: url(../img/pause-button1.png) center center no-repeat;
}

.pause_btn {
    background: url(../img/play-button.png) center center no-repeat;
}

                                                                                                            /*ОТСЮДА ОТРЕДАКТИРОВАННО В EM*/

.icons {
    display: block;
    width: 2.5em;
    height: 9.375em;
    position: fixed;
    right: 0;
    top: 240px;
    /*z-index: 00000;*/
}

.icons img {
    margin-bottom: 0.3125em;
}

/*
.button_auth {
    display: block;
    width: 40px;
    height: 340px;
    position: fixed;
    left: 0px;
    top: 300px;
    color: white;
    background: rgba(25, 25, 25, 0.36);
    border: none;
}
*/

.button_reg {
    
    /*Из пикселя в em = разделить на 16*/
    display: block;
    width: 3em;
    height: 18em;
    position: fixed;
    left: 0px;
    top: 230px;
    color: white;
    background: rgba(25, 25, 25, 0.36);
    border: none;
    font-family: 'Nixie One', cursive;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button_reg:hover {
    background: rgba(25, 25, 25, 0.62);
    /*left: 200px;*/ /* при наведении выдвигается на скрытые 200px + 20px отступы */
}

.button_author {
    margin-top: 170px;
    height: 120px;
    display: block;
    width: 40px;
    position: fixed;
    left: 0px;
    top: 300px;
    color: white;
    background: rgba(58, 57, 57, 0.36);
    transition-duration: 0.3s;
    border: none;
    border-top: 1.5px solid #393737;
    font-family: 'Nixie One', cursive;e;
}

.button_author:hover {
    background: rgba(25, 25, 25, 0.61);
    /*left: 200px;*/ /* при наведении выдвигается на скрытые 200px + 20px отступы */
}

/* СКРЫТЫЙ БЛОК */
/*#slide_in {
    position: fixed; 
    top: 230px; 
    left: -240px; 
    color: #000; 
    width: 200px;
    height: 240px;
    padding: 10px; 
    text-align: justify;
    background: rgba(25, 25, 25, 0.55);

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button_reg:hover #slide_in {
    left: 0px;*/ /* отступ слева 
}*/

/*
#slide_in1 {
    position: fixed; 
    top: 470px; 
    left: -240px; 
    color: #000; 
    width: 200px;
    height: 120px;
    padding: 10px; 
    text-align: justify;
    background: rgba(25, 25, 25, 0.61);
    border-top: 1.5px solid #393737;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button_author:hover #slide_in1 {
    left: 0px;  отступ слева 
}
*/

.start {
    width: 400px;
    height: 60px;
    border: none;
    margin: 100px auto;
    background: transparent;
}

.expend {
    width: 30px;
    text-align: center;
}

.start a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Nixie One', Arial, sans-serif;
    color: white;
    font-weight: bolder;
}

.first {
    height: 600px;
    padding: 80px 100px;
    width: 100%;
    text-align: center;
}

.first h1{
    margin: 0 50px;
    height: calc(100vh - 490px);
    font-family: 'Rammetto One', cursive;
    font-size: 40px;
    word-spacing: 10px;
    text-transform: uppercase;
    color: white;
    text-indent: 100px;
    font-weight: bold;
}

.second {
/*
    height: 800px;
    padding: 80px 150px;
    width: 100%;
    text-align: center;
    width: 100%;
*/
    text-align: center;
    width: 1000px;
    border-style: solid;
    border-width: 8px;
    border-color: #FFFFFF;
    background-color: rgba(128, 128, 128, 0.71);
    border-radius: 5px;
    margin: 40px auto 100px;
    height: 550px;
}

.second img {
    float: left;
    margin: 100px 50px;
}

.inform {
    margin: 30px 0;
    float: left;
    width: 500px;
}

.inform p {
    font-family: 'Nixie One', Arial, sans-serif;
    color: white;
    font-size: 25px;
    text-align: justify;
}

.inform h2 {
    color: white;
    font-size: 30px;
    font-family: 'Nixie One', Arial, sans-serif;
}

/*Оформление*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;            
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
}

.info {
    text-decoration: none;
    color: white;
}
/*Открытие*/
.modalDialog:target {
    display: block;
    pointer-events: auto;
}
 
.modalDialog > div {
    width: 700px;
    position: relative;
    margin: 15% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: #7d7d7e;
    border: 4px solid #ffffff;
}
/*Закрытие окна*/
.close1 {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
 
.close1:hover { 
    background: #292624; 
}   

#send_info {
    color:#ffffff;font-size: 16px;
}

form {
    padding: 40px 0 0 0;
}

label {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.name {
    border-radius: 10px;
    height: 30px;
    outline: none;
}

input {
    font-family: 'Nixie One', Arial, sans-serif;
    font-size: 15px;
    color: black;
    font-weight: 800;
}

.sub {
    width: 150px;
    height: 50px;
    background-color: #beaedb;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 10px 0;
}

.sub:hover {
     background-color: #655b76;
}

.third {
    display: inline-block;
    padding: 60px 150px;
    width: 100%;
    text-align: center;
}

.abilities {
    display: inline-block;
    text-align: center;
    width: 284px;
    border-style: solid;
    border-width: 8px;
    border-color: #FFFFFF;
    background-color: rgba(128, 128, 128, 0.71);
    border-radius: 5px;
    margin: 40px 30px;
    height: 400px;
}

h1 {
    font-size: 54px;
    color: white;
    font-family: 'Nixie One', Arial, sans-serif;
    text-align: center;
}

.staff {
    width: 150px;
    text-align: center;
    margin-top: 30px;
}

.third p {
    font-size: 20px;
    font-family: 'Nixie One', Arial, sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
}

.fourth {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.fourth h1 {
    font-size: 54px;
    color: white;
    font-family: 'Nixie One', Arial, sans-serif;
    text-align: center;
    margin-top: 130px;
}

.frame {
     width: 100%; 
     height: 300px; 
     frameborder: 0; 
     border: 0;
}

footer {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: rgba(69, 69, 69, 0.48);
    margin: 0;
    padding: 0;
}

footer h6 {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 10px 0 5px 200px;
    margin: 0;
    color: white;
    font-family: 'Sarina', cursive;
}

footer p {
    display: inline-block;
    text-align: center;
    padding: 10px 270px 10px 10px;
    color: white;
    font-family: 'Nixie One', Arial, sans-serif;
    margin: 0;
}

#number {
    display: inline-block;
    text-align: center;
    padding: 10px 200px 0 0;
    margin: 0;
    color: white;
    font-family: 'Nixie One', Arial, sans-serif;
}

.between {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.between h1 {
    font-size: 64px;
    color: white;
    font-family: 'Nixie One', Arial, sans-serif;
    text-align: center;
    margin: 70px 0 0 0;
    padding: 0;
}

.between img {
    width: 30px;
    display: inline-block;
    text-align: left;
    margin: -5px 10px;
}

h2 {
    font-size: 34px;
    color: white;
    font-family: 'Nixie One', Arial, sans-serif;
    text-align: center;
    margin-bottom: 70px;
}

label {
    font-size: 24px;
    color: white;
    font-family: 'Nixie One', Arial, sans-serif;
    text-align: left;
    font-weight: bold;
    width: 100px;
    margin-right: 30px;
    display: inline-block;
}

input {
    font-size: 14px;
    color: black;
    font-family: 'Nixie One', Arial, sans-serif;
    text-align: center;
    outline: none;
}

.part {
    text-align: center;
}

.submit {
    width: 300px;
    height: 30px;
    text-align: center;
    color: white;
    background: rgba(178, 178, 178, 0.67);
    font-family: 'Nixie One', Arial, sans-serif;
    font-size: 20px;
    margin: 30px auto;
    font-weight: bold;
    border: none;
}

.submit:hover {
    background: rgba(59, 59, 59, 0.78);
    color: white;
    transition: all 0.3s ease;
}

.main {
    display: inline-block;
    text-align: center;
}

/* Contacts*/

.contacts {
    width: 800px;
    margin: 80px auto;
    border-style: solid;
    border-width: 8px;
    border-color: #FFFFFF;
    background-color: rgba(128, 128, 128, 0.71);
    border-radius: 5px;
    padding: 20px 0 0 0;
}

form {
    padding: 0;
}

.contacts h3 {
    color: white;
    font-size: 25px;
    font-family: 'Nixie One', Arial, sans-serif;
    text-align: center;
}

.letter {
    display: inline-block;
    text-align: center;
    width: 785px;
    margin-bottom: 20px;
}

.vk {
    width: 300px;
    height: 50px;
    display: inline-block;
    text-align: center;
    background-color: #254069;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-family: 'Nixie One', Arial, sans-serif;
    font-size: 20px;
    padding-top: 12px;
}

.fb {
    width: 300px;
    height: 50px;
    display: inline-block;
    text-align: center;
    background-color: #19225a;;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-family: 'Nixie One', Arial, sans-serif;
    font-size: 20px;
    padding-top: 12px;
}

.letter1 {
    display: inline-block;
    text-align: center;
    width: 785px;
    margin-bottom: 20px;
}

.label {
    width: 200px;
    text-align: center;
    margin-right: 0;
}

.input {
    height: 30px;
    border-radius: 5px;
    border: none;
}

.message {
    border: none;
    border-radius: 5px;
    width: 150px;
    background-color: #229f22;
    height: 40px;
    margin: 20px 0 40px 0;
    color: white;
    font-family: 'Nixie One', Arial, sans-serif;
    font-size: 17px;
}

.message:hover {
    background-color: #135a13;
    cursor: pointer;
}

.zero1 {
    height: calc(100vh - 272px);
    min-height: 640px;
}
